.winning-square {
  text-align: center;
  background-color: greenyellow;
  /* border: 1px inset greenyellow; */
  box-sizing: border-box;
  color: #444;
  border: 1px solid #fff5a6;
  border-style: inset;
  box-shadow: 
    inset 0 0 4px rgba(205, 236, 159, 0.794), 
    inset 0 0 20px 10px #e8ffc4ab;
  text-shadow: 
    inset 0 0 1px black, 
          0 0 4px white;
}
.icon {
   display: inline-block;
   max-width: 24px;
   box-sizing: border-box;
   margin-right: 10px;
   vertical-align: middle;
}
.i-ascending {
   content: url("./assets/i_sort_asc.png");
}

.i-descending { 
   content:url("./assets/i_sort_des.png");
}